.text-justify{
    text-align: justify;
}

.bg-main{
    background-color: rgb(1, 47, 75);
}

.bg-nav{
    background-color: rgb(65, 162, 219);
}

.bg-intro{
    background-color: rgb(16, 98, 146);
}

.wh{
    color: white;
}

.hr-line {
    border: 10px solid rgb(1, 47, 75);
    margin: 0px;
}

.item-container{
    background-color: blanchedalmond;
    height: 400px;
}

.img-md{
    height: 200px;
}