.text-justify{
    text-align: justify;
}

.bg-main{
    background-color: rgb(1, 47, 75);
}

.bg-nav{
    background-color: rgb(65, 162, 219);
}

.bg-intro{
    background-color: rgb(16, 98, 146);
}

.bg-gal{
    background-color: rgb(171, 222, 255);
}

.bg-gal2{
    background-color: rgb(1, 47, 75);
}

.bg-ast{
    background-color: rgb(0, 103, 254);
}

.bg-ast2{
    background-color: rgb(240, 217, 89);
}

.bg-cant{
    background-color: rgb(255, 203, 203);
}

.bg-cant2{
    background-color: rgb(236, 72, 78);
}

.bg-pv{
    background-color: rgb(0, 154, 73);
}

.bg-pv2{
    background-color: rgb(212, 43, 31);
}

.bg-pv3{
    background-color: rgb(233, 74, 62);

}

.wh{
    color: white;
}

.hr-line-gal {
    border: 10px solid rgb(171, 222, 255);
    margin: 0px;
}

.hr-line-ast {
    border: 10px solid rgb(0, 103, 254);
    margin: 0px;
}

.hr-line-cant {
    border: 10px solid rgb(236, 72, 78);
    margin: 0px;
}

.hr-line-pv {
    border: 10px solid rgb(0, 154, 73);
    margin: 0px;
}

.item-container{
    background-color: blanchedalmond;
    height: 400px;
}

.img-d-md{
    height: 210px;
    float: left;
    margin-left: 60px;
    margin-top: 20px;
}

.img-lg{
    height: 270px;
    float: left; 
    margin-left: 24px;
    margin-top: 4px;
}