<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="icon" href="/resources/favicon.jpg" type="image/png">
    <link rel="stylesheet" href="/css/generic.css">
    <link rel="stylesheet" href="/css/flip-card.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="bg-ast">
    <nav class="navbar navbar-expand-lg navbar-dark bg-ast2">
        <div class="container-fluid">
        <a class="navbar-brand ms-3" href="/templates/index.html"><h3 style="color: rgb(0, 0, 0);">Norte de España</h3></a>
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item ms-3">
                <a class="bk nav-link active" aria-current="page" href="/templates/index.html" style="color: rgb(0, 0, 0);">Inicio</a>
            </li>
            <li class="nav-item ms-3">
                <a class="bk nav-link active" href="/templates/contact.html" style="color: rgb(0, 0, 0);">Contacto</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <hr class="hr-line-ast">

    <div class="container p-5 text-center bg-ast2 d-flex justify-content-center align-items-center">
        <a href="/templates/asturias.html">
            <img class="d-none d-lg-block zoom-item" src="/resources/asturias/asturias.png" height="100px">
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h2 style="color: black;"> Asturias </h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/templates/asturias.html">
            <img class="d-none d-lg-block zoom-item" src="/resources/asturias/asturias.png" height="100px">
        </a>
    </div>  

    <hr class="hr-line-ast">

    <div class="container flip-card-lg d-none d-lg-block">
        <div class="flip-card-inner">
            <div class="bg-ast2 flip-card-front p-5">
                <img class = "img-lg" src="/resources/asturias/cudillero1.jpg">
                <img class = "img-lg" src="/resources/asturias/cudillero2.jpg">
                <img class = "img-lg" src="/resources/asturias/cudillero3.jpg">
                <img class = "img-lg" src="/resources/asturias/cudillero4.jpg">
            </div>
            <div class="bg-ast2 p-5 text-start flip-card-back">
                <h2 class="mx-3 my-3">Cudillero</h2>
                <p class="text-justify mx-3 mt-3">
                    Cudillero es un pintoresco pueblo pesquero situado en la costa occidental
                    de Asturias, España. Ubicado en un enclave privilegiado entre el mar Cantábrico
                    y las montañas verdes que rodean la región, Cudillero cautiva a sus visitantes
                    con su encanto marinero y sus coloridas casas colgadas sobre el acantilado. Fundado
                    en el siglo IX, este antiguo pueblo ha conservado su carácter tradicional y su rica
                    herencia cultural a lo largo de los siglos.
                    <br><br>
                    La gastronomía de Cudillero es otro aspecto destacado de la visita. Los platos típicos
                    de la región, como la fabada asturiana, el pote de berzas y los pescados frescos a la
                    parrilla, deleitan los paladares de los comensales en los acogedores restaurantes del pueblo.
                    Además de su belleza natural y su deliciosa comida, Cudillero también ofrece oportunidades
                    para explorar su rica historia y su patrimonio arquitectónico, que incluye la iglesia de Santa María,
                    una joya del estilo gótico asturiano. Con su ambiente acogedor y su paisaje pintoresco, Cudillero es
                    un destino imperdible para aquellos que deseen experimentar la auténtica vida costera en Asturias.
                </p>
            </div>
        </div>
    </div>

    <div class="container flip-card-md d-none d-md-block d-lg-none">
        <div class="flip-card-inner">
            <div class="bg-ast2 flip-card-front p-5">
                <img class = "img-d-md" src="/resources/asturias/cudillero1.jpg">
                <img class = "img-d-md" src="/resources/asturias/cudillero2.jpg">
                <img class = "img-d-md" src="/resources/asturias/cudillero3.jpg">
                <img class = "img-d-md" src="/resources/asturias/cudillero4.jpg">
            </div>
            <div class="bg-ast2 p-5 text-start flip-card-back">
                <h2 class="mx-3 mt-3">Cudillero</h2>
                <p class="text-justify mx-3 mt-3">
                    Cudillero es un pintoresco pueblo pesquero situado en la costa occidental
                    de Asturias, España. Ubicado en un enclave privilegiado entre el mar Cantábrico
                    y las montañas verdes que rodean la región, Cudillero cautiva a sus visitantes
                    con su encanto marinero y sus coloridas casas colgadas sobre el acantilado. Fundado
                    en el siglo IX, este antiguo pueblo ha conservado su carácter tradicional y su rica
                    herencia cultural a lo largo de los siglos.
                    <br><br>
                    La gastronomía de Cudillero es otro aspecto destacado de la visita. Los platos típicos
                    de la región, como la fabada asturiana, el pote de berzas y los pescados frescos a la
                    parrilla, deleitan los paladares de los comensales en los acogedores restaurantes del pueblo.
                    Además de su belleza natural y su deliciosa comida, Cudillero también ofrece oportunidades
                    para explorar su rica historia y su patrimonio arquitectónico, que incluye la iglesia de Santa María,
                    una joya del estilo gótico asturiano. Con su ambiente acogedor y su paisaje pintoresco, Cudillero es
                    un destino imperdible para aquellos que deseen experimentar la auténtica vida costera en Asturias.
                </p>
            </div>
        </div>
    </div>

    <hr class="hr-line-ast">

    <div class="container flip-card-lg d-none d-lg-block">
        <div class="flip-card-inner">
            <div class="bg-ast2 flip-card-front p-5">
                <img class = "img-lg" src="/resources/asturias/covadonga1.jpg">
                <img class = "img-lg" src="/resources/asturias/covadonga2.jpg">
                <img class = "img-lg" src="/resources/asturias/covadonga3.jpg">
                <img class = "img-lg" src="/resources/asturias/covadonga4.jpg">
            </div>
            <div class="bg-ast2 p-5 text-start flip-card-back">
                <h2 class="mx-3 mt-3">Covadonga</h2>
                <p class="text-justify mx-3 mt-3">
                    Covadonga es un lugar emblemático situado en el corazón de los Picos de Europa
                    , en Asturias, España. Conocido por su santuario y su entorno natural espectacular, 
                    Covadonga atrae a peregrinos y turistas por igual. El santuario de Covadonga, 
                    construido en el siglo VIII en honor a la Virgen María, es un sitio de gran importancia 
                    religiosa y cultural en España. Situado junto a una cascada y rodeado de imponentes montañas, 
                    el santuario ofrece un entorno de belleza serena y espiritualidad.
                    <br><br>
                    Además de su importancia religiosa, Covadonga también es famosa por sus paisajes naturales 
                    impresionantes. Los Lagos de Covadonga, formados por glaciares hace miles de años, son 
                    un destino popular para los amantes de la naturaleza y los entusiastas del senderismo. 
                    Rodeados de altos picos y exuberantes bosques, los lagos ofrecen vistas panorámicas 
                    impresionantes y rutas de senderismo pintorescas. Los visitantes pueden explorar los 
                    senderos que rodean los lagos y disfrutar de la serenidad y la belleza de este rincón de Asturias.
                </p>
            </div>
        </div>
    </div>

    <div class="container flip-card-md d-none d-md-block d-lg-none">
        <div class="flip-card-inner">
            <div class="bg-ast2 flip-card-front p-5">
                <img class = "img-d-md" src="/resources/asturias/covadonga1.jpg">
                <img class = "img-d-md" src="/resources/asturias/covadonga2.jpg">
                <img class = "img-d-md" src="/resources/asturias/covadonga3.jpg">
                <img class = "img-d-md" src="/resources/asturias/covadonga4.jpg">
            </div>
            <div class="bg-ast2 p-5 text-start flip-card-back">
                <h2 class="mx-3 mt-3">Covadonga</h2>
                <p class="text-justify mx-3 mt-3">
                    Covadonga es un lugar emblemático situado en el corazón de los Picos de Europa
                    , en Asturias, España. Conocido por su santuario y su entorno natural espectacular, 
                    Covadonga atrae a peregrinos y turistas por igual. El santuario de Covadonga, 
                    construido en el siglo VIII en honor a la Virgen María, es un sitio de gran importancia 
                    religiosa y cultural en España. Situado junto a una cascada y rodeado de imponentes montañas, 
                    el santuario ofrece un entorno de belleza serena y espiritualidad.
                    <br><br>
                    Además de su importancia religiosa, Covadonga también es famosa por sus paisajes naturales 
                    impresionantes. Los Lagos de Covadonga, formados por glaciares hace miles de años, son 
                    un destino popular para los amantes de la naturaleza y los entusiastas del senderismo. 
                    Rodeados de altos picos y exuberantes bosques, los lagos ofrecen vistas panorámicas 
                    impresionantes y rutas de senderismo pintorescas. Los visitantes pueden explorar los 
                    senderos que rodean los lagos y disfrutar de la serenidad y la belleza de este rincón de Asturias.
                </p>
            </div>
        </div>
    </div>

    <hr class="hr-line-ast">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer></footer>
</html>